body, html, *
	box-sizing: border-box
	font-family: "Familjen Grotesk", sans-serif

button, a, div, span, :root
	font-family: "Familjen Grotesk", sans-serif

button
	cursor: pointer

button.is-icon
	border: none
	background: transparent
	color: var(--text-primary)
	display: flex
	gap: 4px
	align-items: center
	svg
		width: 20px
		height: 20px
	&:hover
		svg
			color: var(--theme-color)

.themer-header
	width: 100%
	height: 48px
	padding-inline: 16px
	a.nav-link
		text-decoration: none !important
		color: inherit
		font-size: 18px
		margin-bottom: 4px
		&:hover
			color: var(--theme-color)

.themer-main
	padding-inline: 16px

.row
	display: flex
	flex-direction: row
	align-items: center
	flex-wrap: wrap
	&.is-card
		padding: 16px
		border: 1px solid var(--border)
	&.ycenter
		align-items: center
	&.ytop
		align-items: flex-start
	&.ybot
		align-items: flex-end
	&.xbetween
		justify-content: space-between
	&.xevenly
		justify-content: space-evenly
	&.xright
		justify-content: flex-end
	&.xleft
		justify-content: flex-start

.gap1
	gap: 1px
.gap4
	gap: 4px
.gap8
	gap: 8px
.gap16
	gap: 16px
.gap24
	gap: 24px
.gap32
	gap: 32px

